<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>{{  title  }}</title>
        {% else %}
            <title>Welcome to Order Up!</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')  }}">
    </head>
    <body>
        <header class="header-main">
            <h1>Order Up!</h1>
            <!-- Flask-Login makes the current_user to the variables available in the templates, as such it doesn't get passed in via render_template -->
            <!-- current_user.is_anonymous will be True when there is no current logged in user -->
            {% if not current_user.is_anonymous %}
            <form method="POST" action="{{  url_for('session.logout')  }}">
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </header>

        {% block content %}{% endblock %}

    </body>
</html>
