{% extends "base.html" %}

{% block content %}
<div class="container">
    <header>
        <h1>ASSIGN TABLE</h1>
        <form action="{{ url_for('orders.assign_table')}}" id="table-assign-form" method="POST">
            {{  table_assign_form.csrf_token  }}
            <select id="tables" name="tables">
                <option  value="0" disabled selected>Open Tables</option>
                {% for id, name in table_assign_form.tables.choices %}
                    <option value="{{  id  }}">{{  name  }}</option>
                {% endfor %}
            </select>
            <select id="servers" name="servers">
                <option value="0" disabled selected>Servers</option>
                {% for id, name in table_assign_form.servers.choices %}
                    <option value="{{  id  }}">{{  name  }}</option>
                {% endfor %}
            </select>

            {{  table_assign_form.assign  }}
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <span>Please select a table and server</span>
            {% endif %}
        {% endwith %}
    </header>
    <section class="open-orders">
        {% if current_user.admin %}
            <h2>ALL OPEN ORDERS</h2>
        {% else %}
            <h2>YOUR OPEN ORDERS</h2>
        {% endif %}
        <div>
            {% for o_id in open_orders %}
            <div>
                Table {{  open_orders[o_id].order.table_id }}
                ${{  open_orders[o_id].total  }}
                <div>
                    <form action="{{  url_for('orders.close_table', order_id=open_orders[o_id].order.id)  }}" method="POST">
                        <button type="submit">CLOSE TABLE</button>
                    </form>
                    <button form="food-list" formaction="{{  url_for('orders.add_to_order', order_id=open_orders[o_id].order.id, items=0)  }}" method="POST">
                        ADD TO ORDER
                    </button>
                </div>
            </div>
            <table>
                {% for detail in open_orders[o_id].order.order_details %}
                    <tr>
                        <td>
                            {{  detail.menu_item.name  }}
                        </td>
                        <td>
                            <form action="{{  url_for('orders.remove_from_order', order_detail_id=detail.id)}}" method="POST">
                                <button type="submit">X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </section>
    <section class="menu">
        <h1>MENU</h1>
        {% if current_user.admin %}
            <form action="{{ url_for('orders.edit_menu')}}">
                <button type="submit">Edit Menu</button>
            </form>
        {% endif %}
        <form id="food-list" method="POST">
            {% for type in menu %}
                <div>
                    <h2>{{  type  }}</h2>
                    <div>
                        {% for item in menu[type] %}
                            <input type="checkbox" id="{{  item.id  }}" name="menu_items" value="{{  item.id  }}">
                            <label for="{{  item.id  }}">{{  item.name  }}</label>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </form>
    </section>
</div>

{% endblock %}
