/*
html {
    height: 100%;
    background: linear-gradient(90deg, rgba(75,138,218,1) 0%, rgba(22,153,217,1) 34%, rgba(25,182,189,1) 100%);
    background-repeat: no-repeat;
}
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem 3rem;
}

.cat-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    border: 3px solid black;
    border-radius: 5px;
}

.cat-card-img {
    max-width: 400px;
    max-height: 600px;
    width: auto;
    height: auto;
    margin: 0 2rem 2rem 2rem;
}
