# Flask supports two environment files, .flaskenv and .env. You should put the settings in .flaskenv that won't change between development and production environments.
# This includes settings like FLASK_APP, the entry point for your application.

# You should put development settings in your .env because that one won't get checked in to source control.
# These should include FLASK_ENV and SECRET_KEY.

FLASK_DEBUG=1
SECRET_KEY=S3cR37K3y
